<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <app-notification-bell></app-notification-bell>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">Home</ion-title>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="start" name="refresh"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

  </ion-header>

  <div id="container">
    <ion-list>
      <ion-list-header>Actions </ion-list-header>
      <ion-item *ngIf="isDealerUser$ | async" [routerLink]="['/make-order']">
        <ion-icon name="bag-add-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>Make Order</h2>
          <p>Make a new order</p>
        </ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
      <ion-item *ngIf="isDealerUser$ | async" [routerLink]="['/placed-orders']">
        <ion-icon name="timer-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>Order History</h2>
          <p>View my placed orders history</p>
        </ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
      <ion-item *ngIf="isDepotUser$ | async" [routerLink]="['/received-orders']">
        <ion-icon name="timer-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>Order History</h2>
          <p>View received orders history</p>
        </ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
      <ion-item *ngIf="isTransporterUser$ | async" [routerLink]="['/transporter-orders']">
        <ion-icon name="timer-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>Order History</h2>
          <p>View assigned orders history</p>
        </ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
