<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Make Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="submitOrder()">
    <ion-item-divider></ion-item-divider>

    <app-searchable-select
      label="From Depot"
      formControlName="fromDepotId"
      idKey="depotId"
      labelKey="depotName"
      [service]="depotService"
      slot="start"
      [filterOptions]="depotFilterOptions$ | async"
    ></app-searchable-select>
    <app-searchable-select
      label="To Dealer"
      formControlName="toDealerId"
      idKey="dealerId"
      labelKey="dealerName"
      [service]="dealerService"
      slot="start"
      [filterOptions]="dealerFilterOptions$ | async"
    ></app-searchable-select>
<!--    <app-searchable-select-->
<!--      label="From Depot"-->
<!--      formControlName="fromDepotId"-->
<!--      idKey="depotId"-->
<!--      labelKey="depotName"-->
<!--      [service]="depotService"-->
<!--      slot="start"-->
<!--    ></app-searchable-select>-->
<!--    <ion-item>-->
<!--      <ion-label position="floating">To Dealer</ion-label>-->
<!--      <ion-select formControlName="toDealerId">-->
<!--        <ion-select-option *ngFor="let dealer of dealerStations$ | async"-->
<!--                           [value]="dealer.dealerId">{{ dealer.dealerName }}</ion-select-option>-->
<!--      </ion-select>-->
<!--    </ion-item>-->
    <ion-item-divider></ion-item-divider>

    <ion-list formArrayName="orderQuantities">
      <ion-list-header><h2>Quantities</h2></ion-list-header>
      <ion-item-group
        *ngFor="let item of orderQuantitiesControl.controls;
        let i = index" [formGroupName]="i"
      >
        <ion-item-divider>
          <ion-label>Item{{ i + 1}}</ion-label>
          <ion-fab-button size="small" (click)="orderQuantitiesControl.removeAt(1)" color="danger" slot="end">
            <ion-icon size="small" name="trash"></ion-icon>
          </ion-fab-button>
        </ion-item-divider>
        <app-searchable-select
          label="Brand"
          formControlName="canisterBrandId"
          idKey="canisterBrandId"
          labelKey="canisterBrandName"
          [service]="brandsService"
          [filterOptions]="{depotId: form.get('fromDepotId').value}"
        ></app-searchable-select>
        <app-searchable-select
          label="Canister Size"
          formControlName="canisterSizeId"
          idKey="canisterSizeId"
          labelKey="canisterSizeName"
          [service]="canisterSizeService"
          [filterOptions]="{canisterBrandId: orderQuantitiesControl.controls[i].get('canisterBrandId').value}"
          slot="start"
        ></app-searchable-select>
        <ion-item>
          <ion-label position="floating">Quantity</ion-label>
          <ion-input type="number" formControlName="quantity"></ion-input>
        </ion-item>
        <ion-item-divider></ion-item-divider>
      </ion-item-group>
    </ion-list>

    <ion-row>
      <ion-fab-button color="success" (click)="addOrder()">
        <ion-icon name="add-circle"></ion-icon>
      </ion-fab-button>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button *ngIf="(submitting$ | async) === false" [disabled]="form.invalid"
                    type="submit" color="success" expand="block">
          Make Order
          <ion-icon name="log-in"></ion-icon>
        </ion-button>
        <ion-button *ngIf="(submitting$ | async)" color="success" expand="block">
          Making order
          <ion-spinner name="lines"></ion-spinner>
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
