<ng-container *ngIf="order$ | async as order">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button [defaultHref]="'/view-received-order/' + order.orderId"></ion-back-button>
      </ion-buttons>
      <ion-title>Assign Order</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-item>
      <ion-label>
        <h2><strong>Order #{{order.orderId}} </strong></h2>
        <p>From : {{ order.fromDepotName}}</p>
        <p>To : {{ order.toDealerName}}</p>
      </ion-label>
    </ion-item>

    <form [formGroup]="form" (ngSubmit)="submitOrderAssign()">
      <ng-container *ngIf="authDepotIds$ | async as authDepotIds">
        <app-searchable-select
          label="Transporter"
          formControlName="transporterId"
          idKey="transporterId"
          labelKey="transporterName"
          [service]="transporterService"
          [filterOptions]="{ 'depotIds[]': [authDepotIds, 1, 3]}"
          slot="start"
        ></app-searchable-select>
      </ng-container>
      <ion-row>
        <ion-col>
          <ion-button *ngIf="(submitting$ | async) === false" [disabled]="form.invalid"
                      type="submit" color="success" expand="block">
            Assign Order
            <ion-icon name="log-in"></ion-icon>
          </ion-button>
          <ion-button *ngIf="(submitting$ | async)" color="success" expand="block">
            Assigning Order
            <ion-spinner name="lines"></ion-spinner>
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-content>
</ng-container>
