<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Received Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-list-header> {{ totalItems }} orders found</ion-list-header>
    <ng-container *ngIf="orders$ | async as orders">
      <app-order-list-item  *ngFor="let order of orders" [order]="order"></app-order-list-item>
      <ion-item *ngIf="orders.length < 1">
        <ion-label color="danger" >No orders found</ion-label>
      </ion-item>
    </ng-container>

  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

