ion-content {
  //--padding-top: 20%;
  //--padding-start: 10%;
  //--padding-end: 10%;
  --background: url('/assets/images/login-background-img.png') 0 0/100% 100% no-repeat;
}

ion-grid{
  height: 100%;
}
ion-row{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

ion-col {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 15px;
}


h1 {
  border-bottom: var(--ion-color-success) solid;
  line-height: 1.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}
