<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/placed-orders"></ion-back-button>
    </ion-buttons>
    <ion-title>Placed Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="order$ | async as order">

    <app-view-order-item
      [order]="order"
      [statusTemplate]="statusTemplate"
      [actionsTemplate]="actionsTemplate"
    ></app-view-order-item>
    <ng-template #statusTemplate>
      <ion-list>
        <ion-item>
          <ion-label>
            <h2>Order status</h2>
            <p *ngIf="!order.isAccepted">
              Order not accepted
              <ion-icon size="small" name="alert-circle-outline" color="danger"></ion-icon>
            </p>
            <ion-badge *ngIf="order.isAccepted" color="success">Accepted</ion-badge>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>Transporter</h2>
            <p *ngIf="!order.isAssigned">
              Order not assigned
              <ion-icon size="small" name="alert-circle-outline" color="danger"></ion-icon>
            </p>
            <ion-badge *ngIf="order.isAssigned" color="success">Assigned</ion-badge>
            <p *ngIf="order.isAssigned">To: {{ order.assignedToTransporterName }}</p>

          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>Cylinders from depot</h2>
            <p *ngIf="!order.depotToTransporter">
              Cylinders not yet dispatched
              <ion-icon size="small" name="alert-circle-outline" color="danger"></ion-icon>
            </p>
            <ion-badge *ngIf="order.depotToTransporter" color="success">Dispatched</ion-badge>
            <ion-badge *ngIf="order.transporterToDealerConfirmed" color="success">Confirmed</ion-badge>
            <p *ngIf="order.depotToTransporter && !order.transporterToDealerConfirmed">
              Cylinders not yet received
              <ion-icon size="small" name="alert-circle-outline" color="danger"></ion-icon>
            </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>Empty cylinders</h2>
            <p *ngIf="!order.dealerToTransporter">
              Cylinders not yet dispatched
              <ion-icon size="small" name="alert-circle-outline" color="danger"></ion-icon>
            </p>
            <ion-badge *ngIf="order.dealerToTransporter" color="success">Dispatched</ion-badge>
            <ion-badge *ngIf="order.transporterToDepotConfirmed" color="success">Confirmed</ion-badge>
            <p *ngIf="order.dealerToTransporter && !order.transporterToDepotConfirmed">
              Cylinders ot yet confirmed
              <ion-icon size="small" name="alert-circle-outline" color="danger"></ion-icon>
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ng-template>
    <ng-template #actionsTemplate>
      <ion-list>
        <ion-item button detail="true" [disabled]="!order.depotToTransporter || order.transporterToDealerConfirmed">
          <ion-icon name="checkmark-done-outline" slot="start"></ion-icon>
          <ion-label class="ion-text-wrap" [routerLink]="['/transporter-to-dealer-confirmation', order.orderId]">
            <h2>Confirm</h2>
            <p>Confirm receipt of filled cylinders</p>
          </ion-label>
        </ion-item>
        <ion-item button detail="true" [disabled]="!order.isAssigned || order.dealerToTransporter">
          <ion-icon slot="start" name="airplane-outline"></ion-icon>
          <ion-label class="ion-text-wrap" [routerLink]="['/dispatch-from-dealer', order.orderId]">
            <h2>Dispatch</h2>
            <p>Hand over empty cylinders to transporter</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="ion-text-wrap">
            <p *ngIf="!order.depotToTransporter">
              *Awaiting dispatch from depot
              <ion-icon color="danger" name="close-circle-outline"></ion-icon>
            </p>
            <p *ngIf="!order.isAssigned">
              *Awaiting order assignment
              <ion-icon color="danger" name="close-circle-outline"></ion-icon>
            </p>
            <p *ngIf="order.transporterToDealerConfirmed">
              *Filled cylinders received
              <ion-icon color="success" name="checkmark-circle-outline"></ion-icon>
            </p>
            <p *ngIf="order.dealerToTransporter">
              *Cylinders dispatched
              <ion-icon color="success" name="checkmark-circle-outline"></ion-icon>
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ng-template>


  </ng-container>

</ion-content>
