<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/received-orders"></ion-back-button>
    </ion-buttons>
    <ion-title>Received Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="order$ | async as order">
    <ion-item>
      <ion-label>
        <h2><strong>Order #{{order.orderId}} </strong></h2>
        <p>From : {{ order.fromDepotName}}</p>
        <p>To : {{ order.toDealerName}}</p>
        <ion-badge>{{ (order.orderCompletionStatus ?? 0) * 100 }}% complete</ion-badge>
      </ion-label>
    </ion-item>

    <ion-item-sliding #depotToTransporterIonItemSliding [disabled]="order.depotToTransporterConfirmed || !order.depotToTransporter">
      <ion-item>
        <ion-label class="ion-text-wrap">
          <h2>Refilled cylinders from Depot</h2>
          <p *ngIf="!order.depotToTransporter">
            Cylinders not yet dispatched
            <ion-icon size="small" name="alert-circle-outline" color="danger"></ion-icon>
          </p>
          <p *ngIf="!order.depotToTransporterConfirmed && order.depotToTransporter">
            Cylinders not yet confirmed
            <ion-icon size="small" name="alert-circle-outline" color="danger"></ion-icon>
          </p>
          <p *ngIf="!order.transporterToDealerConfirmed && order.depotToTransporterConfirmed">
            Cylinders not yet delivered
            <ion-icon size="small" name="alert-circle-outline" color="danger"></ion-icon>
          </p>
          <ion-badge style="margin-right: 10px" *ngIf="order.depotToTransporter" color="success">
            Dispatched
          </ion-badge>
          <ion-badge style="margin-right: 10px" *ngIf="order.depotToTransporterConfirmed" color="success">
            Confirmed
          </ion-badge>
          <ion-badge style="margin-right: 10px" *ngIf="order.transporterToDealerConfirmed" color="success">
            Delivered
          </ion-badge>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="depotToTransporterIonItemSliding.close()" [routerLink]="['/dispatch-from-depot-confirmation', order.orderId]"><span
          style="padding-left: 32px; padding-right: 32px">Confirm</span></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding #dealerToTransporterIonItemSliding [disabled]="order.dealerToTransporterConfirmed || !order.dealerToTransporter">
      <ion-item>
        <ion-label class="ion-text-wrap">
          <h2>Empty cylinders from dealer</h2>
          <p *ngIf="!order.dealerToTransporter">
            Cylinders not yet dispatched
            <ion-icon size="small" name="alert-circle-outline" color="danger"></ion-icon>
          </p>
          <p *ngIf="!order.dealerToTransporterConfirmed && order.dealerToTransporter">
            Cylinders not yet confirmed
            <ion-icon size="small" name="alert-circle-outline" color="danger"></ion-icon>
          </p>
          <p *ngIf="!order.transporterToDepotConfirmed && order.dealerToTransporterConfirmed">
            Cylinders not yet delivered
            <ion-icon size="small" name="alert-circle-outline" color="danger"></ion-icon>
          </p>
          <ion-badge style="margin-right: 10px" *ngIf="order.dealerToTransporter" color="success">
            Dispatched
          </ion-badge>
          <ion-badge style="margin-right: 10px" *ngIf="order.dealerToTransporterConfirmed" color="success">
            Confirmed
          </ion-badge>
          <ion-badge style="margin-right: 10px" *ngIf="order.transporterToDepotConfirmed" color="success">
            Delivered
          </ion-badge>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="dealerToTransporterIonItemSliding.close()" [routerLink]="['/dispatch-from-depot', order.orderId]"><span
          style="padding-left: 32px; padding-right: 32px">Collect</span></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ng-container>

</ion-content>
