<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/received-orders"></ion-back-button>
    </ion-buttons>
    <ion-title>Received Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="order$ | async as order">
    <app-view-order-item
      [order]="order"
      [statusTemplate]="statusTemplate"
      [actionsTemplate]="actionsTemplate"
    ></app-view-order-item>
    <ng-template #statusTemplate>
      <ion-list>
        <ion-item>
          <ion-label class="ion-text-wrap">
            <h2>Refilled cylinders from depot</h2>
            <p *ngIf="!order.depotToTransporter">
              Cylinders not yet dispatched
              <ion-icon size="small" name="alert-circle-outline" color="danger"></ion-icon>
            </p>
            <p *ngIf="!order.depotToTransporterConfirmed && order.depotToTransporter">
              Cylinders not yet confirmed
              <ion-icon size="small" name="alert-circle-outline" color="danger"></ion-icon>
            </p>
            <p *ngIf="!order.transporterToDealerConfirmed && order.depotToTransporterConfirmed">
              Cylinders not yet delivered
              <ion-icon size="small" name="alert-circle-outline" color="danger"></ion-icon>
            </p>
            <ion-badge style="margin-right: 10px" *ngIf="order.depotToTransporter" color="success">
              Dispatched
            </ion-badge>
            <ion-badge style="margin-right: 10px" *ngIf="order.depotToTransporterConfirmed" color="success">
              Confirmed
            </ion-badge>
            <ion-badge style="margin-right: 10px" *ngIf="order.transporterToDealerConfirmed" color="success">
              Delivered
            </ion-badge>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="ion-text-wrap">
            <h2>Empty cylinders from dealer</h2>
            <p *ngIf="!order.dealerToTransporter">
              Cylinders not yet dispatched
              <ion-icon size="small" name="alert-circle-outline" color="danger"></ion-icon>
            </p>
            <p *ngIf="!order.dealerToTransporterConfirmed && order.dealerToTransporter">
              Cylinders not yet confirmed
              <ion-icon size="small" name="alert-circle-outline" color="danger"></ion-icon>
            </p>
            <p *ngIf="!order.transporterToDepotConfirmed && order.dealerToTransporterConfirmed">
              Cylinders not yet delivered
              <ion-icon size="small" name="alert-circle-outline" color="danger"></ion-icon>
            </p>
            <ion-badge style="margin-right: 10px" *ngIf="order.dealerToTransporter" color="success">
              Dispatched
            </ion-badge>
            <ion-badge style="margin-right: 10px" *ngIf="order.dealerToTransporterConfirmed" color="success">
              Confirmed
            </ion-badge>
            <ion-badge style="margin-right: 10px" *ngIf="order.transporterToDepotConfirmed" color="success">
              Delivered
            </ion-badge>
          </ion-label>
        </ion-item>
      </ion-list>
    </ng-template>
    <ng-template #actionsTemplate>
      <ion-list>
        <ion-item button detail="true" [disabled]="order.depotToTransporterConfirmed || !order.depotToTransporter">
          <ion-icon name="checkmark-done-outline" slot="start"></ion-icon>
          <ion-label class="ion-text-wrap" [routerLink]="['/dispatch-from-depot-confirmation', order.orderId]">
            <h2>Filled Cylinders</h2>
            <p>Confirm receipt of filled cylinders from depot</p>
          </ion-label>
        </ion-item>

        <ion-item button detail="true" [disabled]="order.dealerToTransporterConfirmed || !order.dealerToTransporter">
          <ion-icon name="checkmark-done-outline" slot="start"></ion-icon>
          <ion-label class="ion-text-wrap" [routerLink]="['/dispatch-from-dealer-confirmation', order.orderId]">
            <h2>Empty Cylinders</h2>
            <p>Confirm receipt of empty cylinders from dealer</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-wrap">
            <p *ngIf="!order.depotToTransporter">
              *Awaiting dispatch from depot
              <ion-icon color="danger" name="close-circle-outline"></ion-icon>
            </p>
            <p *ngIf="!order.dealerToTransporter">
              *Awaiting dispatch from dealer
              <ion-icon color="danger" name="close-circle-outline"></ion-icon>
            </p>
            <p *ngIf="order.depotToTransporterConfirmed">
              *Filled cylinders received
              <ion-icon color="success" name="checkmark-circle-outline"></ion-icon>
            </p>
            <p *ngIf="order.dealerToTransporterConfirmed">
              *Empty cylinders received
              <ion-icon color="success" name="checkmark-circle-outline"></ion-icon>
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ng-template>
  </ng-container>

</ion-content>
