<ion-header>
  <ion-toolbar color="primary">
    <ion-title>LPG | <small>OTP</small></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size-xs="11" size-sm="8" size-md="7" size-lg="5" size-xl="4">
      <ion-text color="success">
        <h1>
          <ion-icon name="log-in"></ion-icon>
          One Time Password
        </h1>
      </ion-text>
      <form [formGroup]="form" (ngSubmit)="submitPasswordResetForm()">
<pre>{{ form.value | json }}</pre>
        <ion-item lines="full">
          <ion-label position="stacked">Enter OTP</ion-label>
          <app-otp formControlName="token"></app-otp>
          <ion-text *ngIf="form.get('token').errors?.required && form.get('token').touched ;" color="danger">
            The OTP field is required
          </ion-text>
        </ion-item>

        <ion-row>
          <ion-col>
            <ion-button [disabled]="form.invalid || (submitting$ | async)" type="submit" color="success" expand="block">Confirm</ion-button>
          </ion-col>
        </ion-row>

        <small>
          Please provide the one time password shared to your registered email/phone.
        </small>
      </form>
    </ion-col>
  </ion-row>

</ion-content>
